<div>
  <p>Quicksort is a very fast unstable sorting algorithm based on divide and conquer principle.</p>
  <p>Algorithm picks one random element of the input array (pivot). In next steps it reorganizes
    the array in such a way, that all elements with higher value than the pivot are located before
    the pivot and all elements with lower
    value than the pivot are after it. We can see that the pivot itself is located at the correct
    position (i.e. it is already sorted).</p>
  <p></p>
  </div>