<h1>
  {{title}}
</h1>
<ul class="algorithms">
  <li><a routerLink="home" routerLinkActive="active">Home</a></li>
  <li><a routerLink="bubble-sort" routerLinkActive="active">Bubble</a></li>
  <li><a routerLink="quick-sort" routerLinkActive="active">Quick</a></li>
  <li><a routerLink="shaker-sort" routerLinkActive="active">Shaker</a></li>
  <li><a routerLink="merge-sort" routerLinkActive="active">Merge</a></li>
  <li><a routerLink="insertion-sort" routerLinkActive="active">Insertion</a></li>
</ul>
<router-outlet></router-outlet>
